<script setup lang="ts">

interface Props {
    project: {
        project_name: string,
        project_id: string,
        start_date: string,
        end_date: string,
        completionRate: number
    },
}

const props = defineProps<Props>()

</script>

<template>
    <li>
        <v-card class="pa-4" @click="$emit('click', $event)">
            <div>
                <h2>{{ project.project_name }}</h2>
                <p>ID do projeto: {{ project.project_id }}</p>
                <p>Data de inicio: {{ project.start_date }}</p>
                <p>Data final: {{ project.end_date }}</p>
                
                <div class="progress-container">
                    <div class="progress-bar" :style="{ width: project.completionRate + '%' }"></div>
                    <span class="progress-label">{{ project.completionRate }}%</span>
                </div>
            </div>

            <v-card-actions>
                <v-btn 
                    color="error"
                    prepend-icon="mdi-trash-can"
                    @click.stop="$emit('deleteCard', project.project_id)"
                >Deletar</v-btn>
            </v-card-actions>
        </v-card>
    </li>
</template>