<script setup lang="ts">


</script>

<template>
    <li>
        <v-card
            class="pa-4 h-100"
            style="width: 200px;"
            @click="$emit('click', $event)"
        >
            <v-row align="center" class="h-100">
                <v-col align="center">
                    <h3>Novo Projeto</h3><br>
                    <v-btn
                        size="100px"
                        rounded="50"
                        icon
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-card>
    </li>
</template>