<template>
  <v-container fluid>
    <div class="mx-3" style="color:#fff">
      <h1>Olá {{ user.name }} 👋</h1>
      <h3>Aqui estão seus projetos</h3>
      <!-- <v-btn class="create-project-btn" @click="openCreateProjectModal">Novo Projeto</v-btn> -->
    </div>

    <v-row>

    <div class="card-container">
      <ul class="card-list">
        <card
          v-for="(project, projectI) in projects"
          :key="`project:${projectI}`"
          :project="project"
          @click="handleCardClick(project.project_id)"
          @deleteCard="deleteCard"
          class="ma-2"
        >
        </card>
        <cardNew
          class="ma-2"
          @click="openCreateProjectModal"
        >
        </cardNew>
      </ul>
    </div>

    <div v-if="showCreateProjectModal" class="modal-overlay">
      <div class="modal">
        <h2>Criar Novo Projeto</h2>
        <label for="start-date">Nome do Projeto:</label>
        <input v-model="newProject.project_name"/>
        <label for="start-date">Data de Início:</label>
        <input v-model="newProject.start_date" type="date" />
        <label for="start-date">Data Final:</label>
        <input v-model="newProject.end_date" type="date" />
        <button @click="createProject">Criar Projeto</button>
        <button @click="closeCreateProjectModal">Cancelar</button>
      </div>
    </div>
  </v-row>

  </v-container>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue';
import { useRouter } from 'vue-router';
import { useProjectStore } from '@/stores/ProjectStore';
import { useAuthStore } from "@/stores/AuthStore";

import card from './card.vue'
import cardNew from './cardNew.vue'

const router = useRouter();

const authStore = useAuthStore();
const user = ref({ ...authStore.user });

const projectStore = useProjectStore();
const projects = ref([]);
const newProject = ref({
  project_name: '',
  start_date: '',
  end_date: '',
});
const showCreateProjectModal = ref(false);

const getCompletionRate = async (projectId) => {
  try {
    const progress = await projectStore.getProgess(projectId);

    const totalCardsCount = progress.total_cards_count;
    const finalizedCardsCount = progress.finalized_cards_count;

    console.log('Total Cards Count:', totalCardsCount);
    console.log('Finalized Cards Count:', finalizedCardsCount);

    if (typeof totalCardsCount !== 'number' || typeof finalizedCardsCount !== 'number') {
      console.warn('Invalid progress data:', progress);
      throw new Error('Invalid progress data');
    }

    const completionRate = totalCardsCount > 0 ? Math.round((finalizedCardsCount / totalCardsCount) * 100) : 0;

    console.log('Completion Rate:', completionRate);

    return completionRate;
  } catch (error) {
    console.error('Error fetching project progress:', error);
    return 0;
  }
};

const getProjects = async () => {
  try {
    const response = await projectStore.getProjects(user.value.id);
    for (const project of response) {
      const completionRate = await getCompletionRate(project.project_id);
      console.log("completionRate", completionRate);
      project.completionRate = completionRate;
    }
    projects.value = response;
  } catch (error) {
    console.error('Error fetching projects:', error);
  }
};


const handleCardClick = async (projectId) => {
  try {
    console.log("projectId", projectId);
    await projectStore.getProjectsDetails(projectId);
    router.push('/project');
  } catch (error) {
    console.error('Error fetching project details:', error);
  }
};

const openCreateProjectModal = () => {
  showCreateProjectModal.value = true;
};

const closeCreateProjectModal = () => {
  showCreateProjectModal.value = false;
  // Limpar os campos do novo projeto ao fechar o modal
  newProject.value.project_name = '';
  newProject.value.start_date = '';
  newProject.value.end_date = '';
};

const createProject = async () => {
  try {
    // Adicione o ID do usuário ao objeto do projeto
    newProject.value.user_id = user.value.id;

    const temp = await projectStore.createProject(newProject.value);
    if (temp.success === true) {
      closeCreateProjectModal();
      getProjects();
    }
  } catch (error) {
    console.error('Error during the creation of the project:', error.message);
  }
};

const deleteCard = async (projectId) => {
  try {
    await projectStore.deleteCard(projectId);
    getProjects();
    // card.showCardDetails = false; // Não está claro o que é "card", removi essa linha
  } catch (error) {
    console.error('Erro durante a exclusão do card:', error.message);
  }
};

onMounted(() => {
  getProjects();
});

watch(() => projectStore.project, (newProject) => {
  project.value = { ...newProject };
});
</script>

<style scoped>
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.card-container {
  margin-top: 20px; /* Ajuste conforme necessário */
}

.card-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer; /* Add this line to make the card clickable */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bcdff4;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.create-project-btn {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.create-project-btn:hover {
  background-color: #0056b3;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap as needed */
}

.trello-board {
  display: flex;
  gap: 15px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.trello-column {
  flex: 1;
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trello-card-list {
  list-style-type: none;
  padding: 0;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.trello-card {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: grab;
}

.card-actions {
  margin-top: 10px;
}

.delete-button {
  /* position: absolute; */
  bottom: 2px;
  right: 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.delete-button:hover {
  background-color: #c82333;
}

.details-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.details-button:hover {
  color: #1e90ff;
}

.trello-card:hover {
  background-color: #f9f9f9;
}

.add-card-btn {
  cursor: pointer;
  color: #1e90ff;
  font-weight: bold;
  margin-top: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.modal h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal button {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:last-child {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.modal button:last-child:hover {
  background-color: #999;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 15px;
  background-color: #4caf50; /* Cor da barra de progresso concluída */
  width: 0; /* A largura será definida dinamicamente pela taxa de completude */
  margin-top: 8px; /* Adapte conforme necessário */
  margin-bottom: 10px;
  border-radius: 4px;
  transition: width 0.3s ease; /* Adiciona uma transição suave à largura da barra */
}

.progress-label {
  margin-left: 10px; /* Adapte conforme necessário */
  font-size: 14px;
}
</style>