<template>
  <v-container fluid>
    <v-card class="py-2 px-3" style="height: 96vh">
      
      
      <v-row no-gutters align="center">
        <v-col cols="auto" align="center">
          <v-btn
            prepend-icon="mdi-arrow-left"
            flat
            variant="text"
            color="primary"
            to="/home"
          >
            Voltar
          </v-btn>
        </v-col>
        <v-col>
          <div class="ml-3">
            <span>Projeto</span>
            <h1 style="">{{ project.project_name }}</h1>
          </div>
        </v-col>

        <v-col cols="12" md="3" class="mx-2"> 
          <v-text-field
            solo
            hide-details
            readonly
            label="Data de inicio"
            :model-value="project.start_date"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="3"> 
          <v-text-field
            solo
            hide-details
            readonly
            label="Previsão de termino"
            :model-value="project.end_date"
          ></v-text-field>
        </v-col>
      </v-row>

    <v-progress-linear
      v-model="project.completionRate"
      height="25"
      class="mb-1 mt-3"
      striped
      color="light-blue"
    >
      <strong>Progresso do Projeto: {{ Math.ceil(project.completionRate) }}%</strong>
    </v-progress-linear>
    <!-- Columns Section -->
    <div class="trello-columns">
      
      <div v-for="(column, index) in project.columns" :key="column.column_id" class="trello-column" :style="{ backgroundColor: columnColors[index % columnColors.length] }">

        <h2>{{ column.column_title }}</h2>
        <ul class="trello-card-list" @dragover.prevent="dragOver" @drop="dropCard(column)">
          <li v-for="card in column.cards" :key="card.card_id" class="trello-card" draggable="true" @dragstart="dragStart(card, column)" :class="{ 'on-time': isCardOnTime(card), 'late': !isCardOnTime(card) }">
            {{ card.card_title }}
            <span v-if="!isCardOnTime(card)" class="late-indicator">Card Atrasado</span>
            <button class="details-button" @click="toggleCardDetails(card)">+</button>
            <div v-if="card.showCardDetails">
              <p>Description: {{ card.card_description }}</p>
              <p>Data de inicio: {{ card.start_date }}</p>
              <p>Previsão de termino: {{ card.end_date }}</p>
              <div class="card-actions">
                <button class="delete-button" @click="deleteCard(card)">Delete</button>
                <button class="edit-button" @click="editCard(card)">Edit</button>
              </div>
            </div>
          </li>
        </ul>
        <li v-if="column.column_title === 'Product Backlog'" class="add-card-btn" @click="addCard(column.column_id)">
          + Add Card
        </li>
      </div>
    </div>

    <!-- Modal for creating a new card -->
    <div v-if="showModal" class="modal-overlay">
      <div class="modal">
        <h2>Criar novo Card</h2>
        <label for="start-date">Titulo:</label>
        <input v-model="card.titulo"/>
        <label for="start-date">Descrição:</label>
        <textarea v-model="card.descricao" ></textarea>
        <label for="start-date">Data de Início:</label>
        <input v-model="card.start_date" type="date" id="start-date" placeholder="Start Date" />
        <label for="end-date">Data de Término:</label>
        <input v-model="card.end_date" type="date" id="end-date" placeholder="End Date" />
        <button @click="createCard">Create Card</button>
        <button @click="closeModal">Cancel</button>
      </div>
    </div>
  </v-card>
  </v-container>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';
import { useProjectStore } from '@/stores/ProjectStore';
import { useCardStore } from '@/stores/CardStore';

const columnColors = ['#FFF0F5', '#E0FFFF', '#E6E6FA', '#FFFACD', '#F0FFF0'];

const projectStore = useProjectStore();
const project = ref({ ...projectStore.project });

const cardStore = useCardStore();
const card = ref({ ...cardStore.card, column_id: null, showCardDetails: false });

const showModal = ref(false);

const addCard = (columnId) => {
  card.value = {
    ...card.value,
    column_id: columnId,
  };
  showModal.value = true;
};

const closeModal = () => {
  showModal.value = false;
  card.value.titulo = '';
  card.value.descricao = '';
  card.value.start_date = '';
  card.value.end_date = '';
};

const createCard = async () => {
  try {
    if (card.value.column_id !== null) {
      const temp = await cardStore.createCard(card.value);
      if (temp.success === true) {
        closeModal();
        projectStore.getProjectsDetails(project.value.project_id);
      }
    } else {
      console.error('O column_id está nulo. Certifique-se de que está sendo configurado corretamente.');
    }
  } catch (error) {
    console.error('Erro durante a criação do card:', error.message);
  }
};

const deleteCard = async (card) => {
  try {
    await cardStore.deleteCard(card.card_id);
    projectStore.getProjectsDetails(project.value.project_id);
    card.showCardDetails = false;
  } catch (error) {
    console.error('Erro durante a exclusão do card:', error.message);
  }
};

const isCardOnTime = (card) => {
  const endDate = card.end_date.split('-');
  const startdate = card.start_date.split('-');

  const endYear = parseInt(endDate[0], 10);
  const endMonth = parseInt(endDate[1], 10);
  const endDay = parseInt(endDate[2], 10);

  const startYear = parseInt(startdate[0], 10);
  const startMonth = parseInt(startdate[1], 10);
  const startDay = parseInt(startdate[2], 10);

  // Check if the end date is greater than or equal to the start date
  if (endYear > startYear || (endYear === startYear && endMonth > startMonth) || (endYear === startYear && endMonth === startMonth && endDay >= startDay)) {
    console.log("Card is on time");
    return true;
  } else {
    console.log("Card is late");
    return false;
  }
};







const dragStart = (card, column) => {
  event.dataTransfer.setData('text/plain', JSON.stringify({ cardId: card.card_id, columnId: column.column_id }));
};

const dragOver = (event) => {
  event.preventDefault();
};

const dropCard = async (column) => {
  event.preventDefault();
  const data = JSON.parse(event.dataTransfer.getData('text/plain'));

  if (data.columnId !== column.column_id) {
    try {
      const originalColumnIndex = project.value.columns.findIndex((c) => c.column_id === data.columnId);
      const originalCardIndex = project.value.columns[originalColumnIndex].cards.findIndex((c) => c.card_id === data.cardId);

      if (originalCardIndex !== -1) {
        const clonedCard = { ...project.value.columns[originalColumnIndex].cards[originalCardIndex] };

        project.value.columns[originalColumnIndex].cards.splice(originalCardIndex, 1);

        column.cards.push(clonedCard);

        card.value = {
          ...clonedCard,
          column_id: column.column_id,
        };

        if (clonedCard.card_id !== null) {
          // Ensure card_id is not null before calling moveCard
          await cardStore.moveCard({
            source_column_id: data.columnId,
            destination_column_id: column.column_id,
            card_id: clonedCard.card_id,
          });

          // Reload the projects details after moving the card
          await projectStore.getProjectsDetails(project.value.project_id);
        }
      }
    } catch (error) {
      console.error('Error during card movement:', error.message);
    }
  }
};

const toggleCardDetails = (card) => {
  card.showCardDetails = !card.showCardDetails;
};

const getProjectCompletionRate = async () => {
  try {
    const progress = await projectStore.getProgess(project.value.project_id);

    const totalCardsCount = progress.total_cards_count;
    const finalizedCardsCount = progress.finalized_cards_count;

    if (typeof totalCardsCount !== 'number' || typeof finalizedCardsCount !== 'number') {
      console.warn('Invalid progress data:', progress);
      throw new Error('Invalid progress data');
    }

    const completionRate = totalCardsCount > 0 ? Math.round((finalizedCardsCount / totalCardsCount) * 100) : 0;

    return completionRate;
  } catch (error) {
    console.error('Error fetching project progress:', error);
    return 0;
  }
};

const updateProjectCompletionRate = async () => {
  project.value.completionRate = await getProjectCompletionRate();
};

onMounted(() => {
  updateProjectCompletionRate();
});

watch(() => projectStore.project, () => {
  project.value = { ...projectStore.project };
  updateProjectCompletionRate();
});
</script>


<style scoped>
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f0f0f0;
}

.project-info-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #c1dcf8; /* Cor de fundo da barra, ajuste conforme necessário */
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Adicione estilos para cada item de informação do projeto */
.project-info-item {
  display: flex;
  align-items: center;
}

/* Adicione estilos para o círculo em volta de cada informação */
.project-info-item p::before {
  content: '';
  display: inline-block;
  width: 10px; /* Diâmetro do círculo, ajuste conforme necessário */
  height: 10px; /* Diâmetro do círculo, ajuste conforme necessário */
  border-radius: 50%;
  background-color: #fff; /* Cor do círculo, ajuste conforme necessário */
  margin-right: 8px; /* Espaçamento entre o círculo e o texto, ajuste conforme necessário */
}

/* Adicione estilos para o tamanho da letra */
.project-name {
  font-size: 30px; /* Tamanho da letra para o título do projeto, ajuste conforme necessário */
}

.info-text {
  font-size: 20px; /* Tamanho da letra para informações textuais, ajuste conforme necessário */
}

.trello-board {
  display: flex;
  gap: 15px;
  background-color: #fefefe;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.trello-columns {
  display: flex;
  gap: 15px;
}

.trello-column {
  flex: 1;
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trello-card-list {
  list-style-type: none;
  padding: 0;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.trello-card {
  position: relative;
  background-color: #ffffff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: grab;
}

.card-actions {
  margin-top: 10px;
}

.delete-button {
  position: absolute;
  bottom: 2px;
  right: 8px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.delete-button:hover {
  background-color: #c82333;
}

.details-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.details-button:hover {
  color: #1e90ff;
}

.trello-card:hover {
  background-color: #f9f9f9;
}

.add-card-btn {
  cursor: pointer;
  color: #1e90ff;
  font-weight: bold;
  margin-top: 8px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.modal h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal button {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #0056b3;
}

.modal button:last-child {
  background-color: #ccc;
  color: #333;
  margin-right: 10px;
}

.modal button:last-child:hover {
  background-color: #999;
}

.back-button {
  cursor: pointer;
  color: #1e90ff;
  font-weight: bold;
  margin-top: 8px;
}


.edit-button {
  position: absolute;
  bottom: 2px;
  right: 85%; /* Posição à esquerda, ajuste conforme necessário */
  background-color: #ffc107; /* Ou a cor desejada */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.edit-button:hover {
  background-color: #e0a800; /* Ou a cor desejada para o hover */
}

.trello-card {
  /* ... estilos existentes ... */
  transition: border-color 0.3s ease;
  border: 3px solid #ccc; /* Cor da borda padrão */
}

.on-time {
  border-color: #4caf50; /* Cor da borda verde para cards em dia */
}

.late {
  border-color: #ff6f69; /* Cor da borda vermelha para cards atrasados */
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1; /* Para ocupar o espaço restante */
}

.late-indicator {
  margin-left: 10px; /* Ajuste conforme necessário */
  color: #ff6f69; /* Cor do texto vermelho para indicar atraso */
}
</style>
